[submodule "samples/sample-inference-using-aws-batch-and-amazon-bedrock"]
	path = samples/sample-inference-using-aws-batch-and-amazon-bedrock
	url = https://github.com/aws-samples/sample-inference-using-aws-batch.git
